# En cas de problème réseau pendant l'atelier, décommentez la ligne ci-dessous.
# À utiliser uniquement si vous êtes connecté au Wi-Fi LLM_ATTACK.
# Cela permettra de télécharger toutes les dépendances NPM depuis la registry locale
# sans avoir besoin d'un accès internet.
# registry=https://npm-registry.lab.benvii.com
