hello.lab.benvii.com {
  tls /certs/fullchain.pem /certs/privkey.pem
  respond "Hello from Caddy — TLS OK ✓" 200
}

docker-registry.lab.benvii.com {
  tls /certs/fullchain.pem /certs/privkey.pem
  reverse_proxy docker-registry:5000
}

npm-registry.lab.benvii.com {
  tls /certs/fullchain.pem /certs/privkey.pem
  reverse_proxy npm-registry:4873
}

pypi-registry.lab.benvii.com {
  tls /certs/fullchain.pem /certs/privkey.pem
  reverse_proxy python-registry:3141
}

*.code.lab.benvii.com {
  tls /certs/code.lab.benvii.com/fullchain.pem /certs/code.lab.benvii.com/privkey.pem
  reverse_proxy traefik:80
}